<div class="container">
	<div class="row justify-content-center">
		<div class="col-12">
			<h1>{{signInUp ? 'Sign In' : 'Sign Up'}}</h1>
		</div>
		<div class="col-6">
			<div class="auth-block">
				<input #login type="text">
				<input #password type="password">
				<button (click)="signInOrUp(login, password)">{{signInUp ? 'Sign In' : 'Sign Up'}}</button>
				<h2>{{ message }}</h2>
				<!-- <button (click)="test(login, password)">{{signInUp ? 'Sign In' : 'Sign Up'}}</button> -->
			</div>
			<div class="sign-in-up">
				<input type="checkbox" #sign (click)="checkSignInUp(sign)" name="sign-in-up" id="sign-in-up">
				<label for="sign-in-up">{{signInUp ? 'Sign In' : 'Sign Up'}}</label>
			</div>
		</div>
	</div>
</div>